<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>Sweet Vogue双11抢先购</title>
    <script type="text/javascript" src="/static/m/lib/jquery/1.9.1/jquery.min.js"></script>
    <style index="newi" type="text/css">
        body{margin:0px}
         li{ list-style: none;}
        .img-center{clear: both;display: block;margin: auto;}
        .product-item{background-color: #FFFFFF;border-radius: 10px;height: auto;display:flex;margin: 2px 0px 8px 2px;}
        .product-item img{width: 43%;display: block;}
        .product-item .txt-div{width: 57%;float:left;position: relative;}
        .product-item .item-right{margin-top: 25px;text-align: center; position: absolute;width: 100%;bottom: 40px;}
        .sale1{background-color: #ff6666;padding: 3px 10px 3px 3px;border-radius: 20px;color: #fff;text-align: center;display: inline-block;width: 80%;background-image: -webkit-linear-gradient(top, #ff6666 0%, #cc3333 100%);}
        .sale2{background-color: #FFFFFF;padding: 1px 5px 1px 5px;border-radius: 18px;color: #fff;text-align: center;display: inline-block;width: 50%;float: left;color: #cc3300}
        .product_reserve{font-size: 15px;margin-top: 5px;text-align: center;position: absolute;width: 100%;bottom: 5px;}

        .txt-title{font-size: 20px;font-weight: 400;}
        .txt-detail{font-size: 12px;font-weight:200;}
        .txt-price{font-size: 12px;font-weight:300;}

         .btn{
          background-color: #ee432e;
          background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%,#b51700 50%, #891100 100%);
          background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%,#b51700 50%, #891100 100%);
          background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
          background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
          border: 1px solid #951100;
          padding: 12px 20px 14px 20px;
          border-radius: 5px;
          text-decoration: none;
          color: #fff;
          font: bold 20px/1 “helvetica neue”, helvetica, arial, sans-serif;
          text-align: center;
          box-shadow: 0 1px 3px #333333;
          text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
          position:relative;
          display:inline-block;
          cursor:pointer;
      }
    </style>
</head>

<body>
<div style="background-color: #cc99ff;padding-top: 25px;padding-left: 10px;padding-right: 10px;padding-bottom: 40px;">
    <div style="background-color: #9966cc;padding: 5px;">
    <div style="padding: 15px 0px 15px 0px;;background-color: #FFFFFF;">
    <img src="/static/img/head_1.jpg" style="width: 60%" class="img-center"/>
    </div>
    <div>
        <img src="/static/img/head_2.jpg" style="width: 100%"/>
    </div>
    </div>

    <div style="margin-top: 20px">
        <img src="/static/img/head_3.png" style="width: 65%" class="img-center"/>
    </div>
    <div style="background-color: #6633cc;padding: 10px 7px 7px 10px">

        <div class="product-item">
            <img src="/static/img/img1.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">量子内衣</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">贴合曲线&nbsp;&nbsp;&nbsp;&nbsp;增强立体感</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥168&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">49</strong></label>
                </div>
                <div  class="product_reserve" value="0480">
                    <div class="sale1">
                        <div class="sale2">限量50件</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img7.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">千鸟格仿貂绒套装</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">青春活力 柔软舒适</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">98</strong></label>
                </div>
                <div class="product_reserve" value="7007">
                    <div class="sale1" >
                        <div class="sale2">限量8件</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img8.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">镂空羽毛纱套装</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">手工感定制 细节见品质</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥199&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">119</strong></label>
                </div>
                <div class="product_reserve" value="3e3d">
                    <div class="sale1">
                        <div class="sale2">限购20件</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img2.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">怪兽灵感裤</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">立体面料 零压力 无感服</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥299&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">139</strong></label>
                </div>
                <div class="product_reserve" value="5f25">
                    <div class="sale1" >
                        <div class="sale2">限量10条</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img3.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">相对润四季袜</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">七日芬芳 滋润肤肌</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥15&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">8.5</strong></label>
                </div>
                <div class="product_reserve" value="58dd">
                    <div class="sale1" >
                        <div class="sale2">限量50双 </div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img4.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">草莓羽毛纱套装</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">不起球 不变形 无静电</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">159</strong></label>
                </div>
                <div class="product_reserve" value="0ac5">
                    <div class="sale1" >
                        <div class="sale2">限量10条</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img5.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">菱格羽毛套装</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">撞色菱格 冬日时尚</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">159</strong></label>
                </div>
                <div class="product_reserve" value="f7e2">
                    <div class="sale1" >
                        <div class="sale2">限量7件</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img6.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">仿貂绒波点套装</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">温暖似春 轻如蝉翼</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">159</strong></label>
                </div>
                <div class="product_reserve" value="3da1">
                    <div class="sale1">
                        <div class="sale2">限量10件</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img10.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">苦参精华内裤</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">祛湿抑菌 天然健康</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥60&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">38</strong></label>
                </div>
                <div class="product_reserve" value="dc37">
                    <div class="sale1">
                        <div class="sale2">限量10盒</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img9.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">时尚保暖家居裙</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">高情逸态 优雅居家</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥199&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">119</strong></label>
                </div>
                <div class="product_reserve" value="3709">
                    <div class="sale1">
                        <div class="sale2">限量20件</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-item">
            <img src="/static/img/img11.jpg">
            <div class="txt-div">
                <div style="margin-top: 15px;text-align: center">
                    <label class="txt-title">乳香多肽提拉面膜</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label class="txt-detail">紧致下颌线 淡化法令纹</label>
                </div>
                <div class="item-right">
                    <label class="txt-price">原价:￥96&nbsp;&nbsp;直播价:￥<strong style="font-size: 16px;color: #cc3300">69</strong></label>
                </div>
                <div class="product_reserve" value="566a">
                    <div class="sale1">
                        <div class="sale2">限量50盒</div>
                        <div>立刻预约</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="margin-top: 20px">
        <img src="/static/img/head_4.png" style="width: 65%" class="img-center"/>
    </div>
    <div style="background-color: #6633cc;padding: 10px 7px 7px 10px">

        <div class="product-item">
            <img src="/static/img/img12.jpg">
            <div class="txt-div">
                <div style="margin-top: 35px;text-align: center">
                    <label style="font-size: 23px;font-weight: 400;">？</label>
                </div>
                <div style="margin-top: 2px;text-align: center">
                    <label style="font-size: 15px;font-weight: 300;">一元秒杀 百元礼物<p>10/30 直播间等着你哟~</label>
                </div>
                <div class="item-right">

                </div>

            </div>
        </div>
    </div>

</div>

<input type="hidden" id="bill_id" value="{{_bill_id}}"></input>
<input type="hidden" id="open_id" value="{{_open_id}}"></input>
<input type="hidden" id="pull_id" value="{{_pull_id}}"></input>

</body>
<script type="text/javascript">
$(function(){
    width = $(window).width()
    if (width > 0 && width <= 340){
        console.log($(window).width())
        $(".product_reserve").css("font-size", "12px");
        $(".item-right").css("bottom", "30px")
        $(".txt-title").css("font-size", "18px")
    }else{
        $(".product_reserve").css("font-size", "15px");
        $(".item-right").css("bottom", "40px")
        $(".txt-title").css("font-size", "20px")
    }

    $(".product_reserve").each(function(){
        $(this).click(function(){
            $.reserve_product($(this).attr("value"))

        });
    });
});

$.extend({"reserve_product":function (url) {
    $.ajax({
            type: "POST",
            url: "/bill/reserve",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                bill_id:$("#bill_id").val(),
                open_id:$("#open_id").val(),
                pull_id:$("#pull_id").val(),
                product_id:url
            }),
            dataType: "json",
            success: function (message) {
                alert("预定成功，10月30日直播间见")
            },
            error: function (message) {
                alert("retry")
            }
    });
}});
</script>